:root {
	--primary-color: #faf5e2; /* golden yellow */
	--primary-compl-color: #bd9526; /* darker yellow, slightly more gold */
	--secondary-color: #e0d7c7; /* khaki */
	--secondary-compl-color: #f5f3ef; /* peach white */
	--secondary-trans-color: #e0d7c700;
	--tertiary-color: #56453e; /* pruce */

	--black-color: #211c1d;

	--topbar-height: 82px;
	--page-horizontal-whitespace: 150px;
}

/* DEFAULT STYLES */
html {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Playfair Display', serif;

	word-wrap: break-word;
}

h1 {
	font-size: 46px;
	font-weight: 900;

	letter-spacing: .2rem;

	color: var(--primary-compl-color);
}

h2 {
	color: var(--primary-compl-color);
}

p {
	font-family: serif;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 1.5;

	color: var(--black-color);
}

a {
	color: var(--primary-compl-color);
}

input {
	font-family: 'Times New Roman', serif;
}

/* STANDARD UTIL CLASSES */
.hidden {
	display: none;
}

/* FRONT PAGE CONTAINER (to contain carousel and searchbar in a flex container) */
#frontpage-container {
	display: flex;
	flex-direction: column;

	height: calc(100svh - var(--topbar-height));
}

/* CAROUSEL STYLING */
#carousel-container {
	--current-active-image: url("https://www.panpacific.com/content/dam/pphg-revamp/en/global/offers/parents-day/parentsday-masthead2.png");
	flex-grow: 1;
	flex-shrink: 1;

	width: 100%;
	min-height: 0;

	background-image: var(--current-active-image);
	background-repeat: no-repeat;
	background-size: cover;

	animation-name: carousel_backandforth;
	animation-duration: 12s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

@keyframes carousel_backandforth {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

/* GREETER STYLING */
#greeter-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	flex-grow: 0;
	flex-shrink: 1;

	min-height: 0;
}

#page-header {
	padding: 30px var(--page-horizontal-whitespace) 15px;
}

#page-caption {
	padding: 15px var(--page-horizontal-whitespace);
	margin-bottom: 20px;

	font-style: italic;
}

/* CONTENT SEARCH BAR STYLING */
#content-searchbar {
	display: flex;
	flex-direction: column;

	position: relative;
	bottom: 0px;

	width: calc(100% - var(--page-horizontal-whitespace) * 2);
	height: auto;

	padding: 10px var(--page-horizontal-whitespace);

	background-color: var(--primary-color);
}

#content-searchbar > label {
	padding: 15px 0;

	font-size: 18px;
}

#content-searchbar-input-container {
	display: flex;
	flex-direction: row;
}

#content-searchbar-input-query {
	flex-grow: .55;
	flex-shrink: .5;

	min-width: 0;
	padding: 5px 10px;

	border-width: 0;
	border-radius: .2rem;

	outline: none;

	font-size: 1.3em;
	line-height: 1.5;
}

#content-searchbar-input-query:focus {
	border: none;

	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--secondary-color);
}

#content-searchbar-filter-category {
	flex-grow: .025;
	flex-shrink: 1;

	min-width: 0;
	padding: 10px;
	margin: 0 10px;

	border-width: 0;
	border-radius: .2rem;
	outline: none;
}

#content-searchbar-filter-category:focus {
	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--secondary-color);
}

#content-searchbar-enterbtn {
	flex-grow: .4;

	padding: 10px;

	color: #fff;

	background-color: var(--primary-compl-color);

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-color);

	transition-property: color, background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#content-searchbar-enterbtn:hover,
#content-searchbar-enterbtn:focus {
	color: #000;
	background-color: var(--primary-color);
}

/* STICKY ANCHOR JUMP LINK TAGS */
#greeter-anchorjump {
	display: flex;
	flex-direction: row;
	justify-content: center;

	position: sticky;
	top: calc(var(--topbar-height) + 2px);

	width: 100%;

	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;

	z-index: 4;
}

#greeter-anchorjump > p {
	padding: 10px 0;

	font-size: .9rem;

	text-align: center;
}

#greeter-anchorjump a {
	color: #7e7e7e;
}

/* SECTION STYLING */
#content-container {
	width: 100%;
}

.section-container {
	width: 100%;

	padding-bottom: 100px;
}

.section-header-container {
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: calc(100% - var(--page-horizontal-whitespace) * 2);
	height: 400px;

	padding: 0 var(--page-horizontal-whitespace);
	margin-bottom: 50px;

	background-color: var(--tertiary-color);
	background-repeat: no-repeat;
	background-size: cover;

	z-index: 1;
}

.section-header-container:before {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	content: "";

	width: 100%;
	height: 100%;

	backdrop-filter: brightness(.8);
}

.section-header-container h2 {
	padding-bottom: 20px;

	font-size: 100px;
	font-weight: 800;
	font-style: italic;
	color: #fff;

	user-select: none;
	z-index: 2;
}

.section-content-container {
	padding: 10px var(--page-horizontal-whitespace);
}

.section-content-container > p {
	
}

/* PROMO CARDS */
.promo-card-grid-container {
	display: grid;

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto-fill, minmax(min-content, 0));
	column-gap: 120px;
	row-gap: 40px;

	width: 100%;

	margin-top: 25px;
}

.promo-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: calc(100% - 2px);
	min-height: 300px;

	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-color);

	background-color: var(--secondary-compl-color);
/*	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/

	overflow-y: hidden;
}

.promo-card.filtered-out {
	filter: saturate(0);
}

.promo-card-top-container {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;

	width: calc(100% - 4px);
	min-height: 0;
	aspect-ratio: 1;

	padding: 2px;

	cursor: help;
}

.promo-card-top-container:hover .promo-card-specs-container {
	opacity: 1;
}

.promo-card-thumbnail {
	width: 100%;
	height: 100%;

	background-image: url("https://www.panpacific.com/content/dam/pphg-revamp/en/global/countries/singapore/teacation-relaxation/tea-cation-prsmb.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.promo-card-specs-container {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 2px;

	width: calc(100% - 24px);
	height: calc(100% - 14px);

	padding: 5px 10px;

	opacity: 0;
	overflow-y: auto;

	font-size: .9rem;
	background-color: var(--secondary-compl-color);

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--tertiary-color);

	transition-property: opacity;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.promo-card-specs-container > p {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 4px;
}

.promo-card-specs-container > p:before {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 16px;

	display: block;
	content: "";

	width: 16px;
	height: 16px;
	min-height: 16px;

	margin-right: 6px;

	background-repeat: no-repeat;
	background-size: cover;
}

.promo-card-specs-date {
	font-size: 1.5em;
}

.promo-card-specs-date:before {
	background-image: url("../../static/date_icon.svg");
}

.promo-card-specs-tc:before {
	background-image: url("../../static/exclamation_icon.svg");
}

.promo-card-specs-fm:before {
	background-image: url("../../static/account_icon.svg");
}

.promo-card-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	flex-basis: 250px;
	flex-grow: 1;
	flex-shrink: 0;

	min-height: 0;

	padding: 10px;
}

.promo-card-details > h3 {
	padding-bottom: 10px;

	font-size: 1.5rem;
	font-weight: 800;
	color: var(--tertiary-color);
}

.promo-card-view-more-btn {
	padding: 12px;

	color: #fff;
	background-color: var(--primary-compl-color);

	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-color);

	font-size: 18px;

	transition-property: color, background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.promo-card-view-more-btn:focus,
.promo-card-view-more-btn:hover {
	color: #000;
	background-color: var(--primary-color);
}

.promo-card-details > p {
	display: none;

	text-overflow: ellipsis;

	overflow: hidden;
	white-space: nowrap;
}


/* DINING CONTENT STYLING */
#dining > .section-header-container {
	background-image: url("https://www.panpacific.com/content/dam/pphg-revamp/en/global/countries/singapore/teacation-relaxation/tea-cation-ppsin.jpg");
}

/* ACCOMMODATION CONTENT STYLING */
#accommodation > .section-header-container {
	background-image: url("https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?cs=srgb&dl=pexels-pixabay-164595.jpg&fm=jpg");
}

/* EVENTS CONTENT STYLING */
#events > .section-header-container {
	background-image: url("https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?cs=srgb&dl=pexels-pixabay-164595.jpg&fm=jpg");
}

/* WEDDING CONTENT STYLING */
#wedding > .section-header-container {
	background-image: url("https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?cs=srgb&dl=pexels-pixabay-164595.jpg&fm=jpg");
}


/* MODAL STYLING */
#modal-window {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: fixed;

	top: 0;
	left: 0;

	width: calc(100% - 30px);
	height: calc(100lvh - 20px);

	padding: 15px;

	backdrop-filter: blur(8px);

	z-index: 10;
}

#modal-window.hidden {
	display: none;
}

#modal-container {
	display: flex;
	flex-direction: row;

	flex-grow: .5;
	flex-shrink: 1;
	flex-basis: auto;

	min-width: 0;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-color);
	background-color: #fff;
}

#modal-content-thumbnail {
	flex-grow: .3;
	flex-shrink: 0;
	flex-basis: 200px;

	min-height: 250px;

	border-radius: .2rem 0 0 .2rem;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#modal-content {
	display: flex;
	flex-direction: row;

	flex-grow: .7;

	padding: 15px;
}

#modal-content-left {
	display: flex;
	flex-direction: column;

	flex-grow: .8;
	flex-shrink: 1;

	min-width: 0;
}

#modal-content-header {
	margin-bottom: 15px;
	font-family: "Times New Roman";
}

#modal-content-description {
	min-width: 0;
}

#modal-content-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	flex-grow: .2;
	flex-shrink: 1;
	flex-basis: 150px;

	min-width: 0;
}

#modal-content-details > p {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: .8rem;

	word-break: break-all;	
}

#modal-content-details > p::before {
	display: block;
	content: "";

	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 16px;

	height: 16px;

	margin-right: 6px;

	background-image: url("../../static/date_icon.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

#modal-content-details > .modal-content-details-promo-tc::before {
	background-image: url("../../static/exclamation_icon.svg");
}

#modal-content-close-btn {
	position: relative;

	width: 100%;

	padding: 10px;

	color: #fff;

	border-style: solid;
	border-width: 1px;
	border-color: var(--tertiary-color);

	background-color: var(--tertiary-color);

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#modal-content-close-btn:focus,
#modal-content-close-btn:hover {
	background-color: var(--secondary-color);
}


/* MEDIA QUERY */
@media only screen and (min-width: 2000px) {
	/* increase column row */
	.promo-card-grid-container {
		grid-template-columns: repeat(6, 1fr);
		column-gap: 240px;
	}
}

@media only screen and (max-width: 1600px) {
	/* decrease column row */
	.promo-card-grid-container {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 60px;
	}
}

@media only screen and (max-width: 1000px) {
	:root {
		--page-horizontal-whitespace: 40px;
	}

	/* reduce whitespace between member sign in button and login button */
	/* add whitespace between company logo and member sign in button */
	#topbar-member-login-btn {
		margin-left: 15px;
		margin-right: 20px;
	}

	/* reduce amount of columns for promotions-card */
	.promo-card-grid-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 50px;
	}

	/* change modal to a top to bottom layout */
	#modal-container {
		flex-direction: column;
	}

	#modal-content {
		flex-direction: column;
	}

	#modal-content-thumbnail {
		border-radius: .2rem .2rem 0 0;
	}

	#modal-content-right {
		padding-top: 15px;
	}

	#modal-content-close-btn {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 620px) {
	:root {
		/* reduce topbar height */
		--topbar-height: 64px;

		/* reduce horizontal padding */
		--page-horizontal-whitespace: 20px;
	}

	/* reduce whitespace between member sign in button and login button */
	/* add whitespace between company logo and member sign in button */
	#topbar-member-login-btn {
		margin-left: 15px;
		margin-right: 15px;
	}

	/* shorten section header banner & reduce bottom margin */
	.section-header-container {
		height: 200px;

		margin-bottom: 10px;
	}

	/* shorten whitespace between header and p tag */
	/* reduce font size too */
	.section-header-container h2 {
		padding-bottom: 10px;

		font-size: 40px;
	}

	/* change grid container to 2 columns only */
	.promo-card-grid-container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 20px;
	}
}

@media only screen and (max-width: 400px) {
	:root {
		--page-horizontal-whitespace: 15px;
	}

	/* hide member sign in button completely */
	#topbar-member-login-btn {
		display: none;
	}
}