:root {
	--primary-color: #faf5e2; /* golden yellow */
	--primary-compl-color: #bd9526; /* darker yellow, slightly more gold */
	--secondary-color: #e0d7c7; /* khaki */
	--secondary-compl-color: #f5f3ef; /* peach white */
	--secondary-trans-color: #e0d7c700;
	--tertiary-color: #56453e; /* pruce */

	--black-color: #211c1d;
}

/* DEFAULT STYLES */
html {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Playfair Display', serif;

	word-wrap: break-word;

	height: 100%;
}

h1 {
	font-size: 46px;
	font-weight: 900;

	letter-spacing: .2rem;

	color: var(--primary-compl-color);
}

h2 {
	color: var(--primary-compl-color);
}

hr {
	width: 100%;
}

p {
	font-weight: 300;
	letter-spacing: normal;
	line-height: 1.5;
}

a {
	color: var(--primary-compl-color);
	font-family: 'Times New Roman', serif;
}

input {
	padding: 10px 8px;
	margin: 10px 0;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--black-color);
}

input:focus,
input:hover {
	background-color: var(--secondary-compl-color);
	outline: none;
}

input:invalid {
	border-color: var(--tertiary-color);
}

/* STANDARD UTIL CLASSES */
.hidden {
	display: none;
}

.required-field-label {
	color: red;
}

/* POPUP MESSAGE CONTAINER */
#popup-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	position: fixed;
	bottom: 8px;
	left: 0;

	width: calc(100% - 40px);
	height: 100%;

	margin: 0 20px;

	z-index: 2;
	pointer-events: none;
}

#popup-msg-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 10px 7px;
	margin-bottom: 20px;

	opacity: 0;
	cursor: pointer;

	transform: scaleY(.5);
	transform-origin: bottom;

	border-radius: .2rem;

	transition-property: opacity;
	transition-duration: 50ms;
	transition-timing-function: ease-out;

	z-index: 12;
	pointer-events: all;
}

#popup-msg-container::before {
	display: block;
	content: "";

	flex-basis: 16px;
	flex-shrink: 0;

	width: 16px;
	height: 16px;

	margin-right: 5px;

	background-repeat: no-repeat;
	background-size: cover;
}

#popup-msg-container.success {
	transform: scaleY(1);

	opacity: 1;
	color: #073d19;
	background-color: #bdd9c6cc;
}

#popup-msg-container.success:hover {
	background-color: #bdd9c6ff;
}

#popup-msg-container.success::before {
	background-image: url("../../static/okayicon.svg");
	filter: invert(16%) sepia(10%) saturate(5937%) hue-rotate(99deg) brightness(94%) contrast(95%);
}

#popup-msg-container.fail {
	transform: scaleY(1);

	opacity: 1;
	color: #c73c32;
	background-color: #e8c1becc;
}

#popup-msg-container.fail:hover {
	background-color: #e8c1beff;
}

#popup-msg-container.fail::before {
	background-image: url("../../static/erroricon.svg");
	filter: invert(41%) sepia(19%) saturate(1592%) hue-rotate(315deg) brightness(116%) contrast(92%);
}

/* WIDE IMAGE WINDOW */
#window-image-container {
	width: 100%;
	height: 450px;

	background-image: url(https://www.moorhallhotel.co.uk/assets/slideshows/dining-oak-room/da849f7405/The-Oak-Room-Restaurant-1__FocusFillWzE5MjAsODkyLCJ5IiwxOTNd_ScaleMaxWidthWzE5MjBd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* STICKY NAV MENU */
#navmenu-attachment {
	--horizontal-gap: 20px;

	display: flex;

	position: relative;
	top: -34px;

	width: calc(100% - var(--page-horizontal-whitespace) * 2);
	height: auto;

	padding: 10px calc(var(--page-horizontal-whitespace) - var(--horizontal-gap));
	margin: 0 var(--horizontal-gap);

	border-radius: .2rem;	
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 0px;
}

#restaurant-selector {
	padding-right: 10px;

	font-family: monospace;

	cursor: pointer;

	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #eee;
}

#restaurant-selector > h2 {
	font-size: 1.5em;
	color: var(--black-color);
}

/* PROGRESS NAV BAR CONTAINER */
#progress-container {
	display: flex;
	flex-direction: row;

	padding-left: 10px;
	margin-top: -10px;
	margin-bottom: -10px;

	overflow-x: auto;
}

#progress-containe::-webkit-scrollbar {
	display: none;
}

.progress-tab-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	color: #eee;
}

.progress-tab-container > button {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;

	padding: 0 5px;

	transition-property: color, background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}


.progress-tab-container.unlocked > button {
	color: #898989;
}

.progress-tab-container.unlocked > button:focus,
.progress-tab-container.unlocked > button:hover {
	color: #424242;
	background-color: #efefef;
}

.progress-tab-container.active > button {
	color: #000;
	font-weight: 600;
}

.progress-tab-next-arrow {
	width: 16px;
	height: 16px;

	margin: 0 12px;

	background-image: url("../../static/right.png");
	background-repeat: no-repeat;
	background-size: cover;

	filter: invert(100%) sepia(3%) saturate(3447%) hue-rotate(272deg) brightness(130%) contrast(87%);
}

.progress-tab-next-arrow.active {
	filter: invert(24%) sepia(0%) saturate(1361%) hue-rotate(231deg) brightness(108%) contrast(75%);
}

/* PAGE WINDOW & PAGE CONTAINER CLASSES */
#page-window {
	width: calc(100% - var(--page-horizontal-whitespace) * 2);

	padding: 10px var(--page-horizontal-whitespace);
}

.page-container {
	display: none;

	width: 100%;
}

.page-container.active {
	display: block;
}

.page-container > hr {
	width: 80%;

	margin-bottom: 30px;
}

.page-header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 15px;
}

.page-header-next-navigbtn {
	padding: 10px 20px;

	border-style: solid;
	border-width: 1px;
	border-color: var(--tertiary-color);

	border-radius: .2rem;
	background-color: var(--secondary-compl-color);
}

.page-header-next-navigbtn:focus,
.page-header-next-navigbtn:hover {
	background-color: var(--secondary-color);
}

.bottom-page-next-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* DETAILS FORM CONTAINER */
#details-pform-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
}

#details-pform-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* DETAILS FORM EVENT DETAILS INPUT */
#details-pform-timing-display > p {
	padding: 20px 0;

	font-size: 1.2rem;
	font-weight: 600;
}

#details-pform-header > button {
	position: relative;

	padding: 15px 30px;

	cursor: pointer;

	border-radius: .2rem .2rem 0 0;

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#details-pform-header > button.active {
	background-color: #efefef;
}

#details-pform-header > button:before {
	display: block;
	content: "";

	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 2px;

	visibility: hidden;
	background-color: var(--primary-compl-color);

	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: 0 0;

	transition-property: visibility, transform;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#details-pform-header > button:focus,
#details-pform-header > button:hover {
	background-color: #e6e6e6;
}

#details-pform-header > button.active:before,
#details-pform-header > button:focus:before,
#details-pform-header > button:hover:before {
	visibility: visible;

	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#details-pform-selectors-page-container {
	position: relative;
}

#details-pform-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#details-pform-date.hidden {
	visibility: hidden;
}

#details-pform-date-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 30px 0;
}

#details-pform-date-header > h2 {
	padding: 0 20px;
}

#pform-date-calendar-header {
	min-width: 200px;
	text-align: center;
}

.pform-date-calendar-btn {
	width: 24px;
	height: 24px;

	padding: 6px;

	border-radius: 12px;

	visibility: hidden;

	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition-property: background-color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.pform-date-calendar-btn.active {
	visibility: visible;
}

.pform-date-calendar-btn.active:focus,
.pform-date-calendar-btn.active:hover {
	background-color: #efefef;
}

.pform-date-calendar-btn#pform-date-prev-month {
	background-image: url("../../static/back.svg");
}

.pform-date-calendar-btn#pform-date-next-month {
	background-image: url("../../static/next.svg");
}

#details-pform-date > table {
	border-collapse: separate;
	border-spacing: 10px 20px;
}

#details-pform-date > table > tbody > tr > th {
	padding: 15px;
}

/* available dates to book (ava) */
#details-pform-date > table > tbody > tr > th.ava {
	cursor: pointer;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--tertiary-color);

	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#details-pform-date > table > tbody > tr > th.ava.active,
#details-pform-date > table > tbody > tr > th.ava:focus,
#details-pform-date > table > tbody > tr > th.ava:hover {
	color: var(--secondary-compl-color);
	background-color: var(--tertiary-color);
}

/* dates not in month (nim) */
#details-pform-date > table > tbody > tr > th.nim {
	color: #efefef;
}

/* dates past current day (pcd) */
#details-pform-date > table > tbody > tr > th.pcd {
	color: #9a5d5d;
}

/* time slots container */
#details-pform-time {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 0;

	width: 100%;
}

#details-pform-time.hidden {
	visibility: hidden;
}

#details-pform-time-block {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 30px 0;
}

#details-pform-time-block.hidden {
	display: none;
}

#details-pform-time-block > img {
	width: 100%;
	height: 120px;

	margin-bottom: 10px;
}

#details-pform-time-booking-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#details-pform-time-booking-container.hidden {
	display: none;
}

#details-pform-time-booking-container > h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.details-pform-timeslots-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto-fill, minmax(min-content, 0));
	column-gap: 10px;
	row-gap: 15px;

	width: 100%;
}

.details-pform-timeslots-container > p {
	padding: 10px 20px;

	cursor: pointer;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--tertiary-color);

	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.details-pform-timeslots-container > p.active {
	color: var(--secondary-compl-color);
	background-color: var(--tertiary-color);
}

.details-pform-timeslots-container > p:focus,
.details-pform-timeslots-container > p:hover {
	color: #fff;

	background-color: var(--tertiary-color);
}

/* GUEST FORM CONTAINER */
#guests-pform-container {
	display: flex;
	flex-direction: column;
}

#contact-particulars-form {
	display: flex;
	flex-direction: column;
}

#contact-particulars-form-header > h1 {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 25px;

	color: black;

	font-family: "Times New Roman";
	font-weight: 700;
	font-size: 2rem;

	letter-spacing: .6px;
}

.guest-particulars-form {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

.guest-particulars-form-header > h1 {
	padding-top: 20px;
	padding-bottom: 5px;

	color: black;

	font-family: "Times New Roman";
	font-weight: 700;
	font-size: 2rem;

	letter-spacing: .6px;
}

.guest-particulars-form-header > h4 {
	font-weight: 400;
	font-size: .9rem;
}

.guest-particulars-name-container {
	display: flex;
	flex-direction: row;

	margin-top: 25px;
}

.guest-particulars-name-container > div {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	flex-shrink: 1;

	min-width: 0;
}

.guest-particulars-name-container > div:first-child {
	padding-right: 10px;
}

.guest-particulars-form > label {
	margin-top: 10px;
}

.guest-count-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 10px;
}

.guest-count-input-container > label {
	padding-right: 15px;
}

.guest-count-input-container > button {
	width: 24px;
	height: 24px;

	paddng: 8px;
	margin: 0 6px;


	font-size: 20px;
	border-radius: 12px;

	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

.guest-count-input-container > button:focus,
.guest-count-input-container > button:hover {
	color: #fff;
	background-color: #2d2d2d;
}

.guest-count-input-container > input {
	min-width: 0;
}

/* PAYMENT FORM CONTAINER */
#payment-details-container {
	padding-bottom: 10px;
}

#reservation-details-container {
	padding: 15px 0;
}

#payment-pform-container {
	display: flex;
	flex-direction: column;
}

#payment-card-name-input {
	font-family: inherit !important;
}

#payment-pform-container input {
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
}

#payment-pform-card-details-row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-bottom: 20px;
}

.payment-pform-card-details-input-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	min-width: 0;
}

.payment-pform-card-details-input-group:first-child {
	flex-grow: 1;
	flex-shrink: 0;

	margin-right: 10px;
}

.payment-pform-card-details-input-group:last-child {
	flex-grow: 1;
	flex-shrink: 1;
}

#payment-pform-cardexp-input-group {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 10px;
}

#payment-pform-cardexp-input-group > input {
	text-align: center;

	margin-top: 0;
}

#payment-card-expmnth-input {
	width: 32px;
}

#payment-card-expyr-input {
	width: 58px;
}

#payment-pform-cardexp-input-group > p {
	padding: 0 4px;

	font-size: 1.5rem;
	font-weight: 700;
}

#payment-card-cvv-input {
	width: calc(100% - 18px);
}

#payment-pform-addcard {
	padding: 20px;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--tertiary-color);

	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#payment-pform-addcard:focus,
#payment-pform-addcard:hover {
	color: #fff;
	background-color: var(--tertiary-color);
}

#payment-pform-addcard.disabled {
	cursor: not-allowed;
}

#payment-pform-addcard.disabled:hover {
	/* no more focus pseudo-event since button has disabled attribute */
	color: #fff;
	background-color: #de7e6f;
}

/* CONFIRMATION PAGE */
#confirmation-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px 0;
}
#confirmation-details-container > h1 {
	padding: 10px 0;
	margin-bottom: 30px;

	color: var(--tertiary-color);
}

#confirmation-details-container > h3 {
	margin-bottom: 10px;

	color: var(--tertiary-color);
	font-size: 34px;
}

#confirmation-final-msg {
	margin-bottom: 30px;
	text-align: center;
}

.confirmation-details-field-header {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#confirmation-details-banner {
	font-family: sans-serif;
	color: green;
}
#confirmation-invoice-slip {
	width: calc(100% - 22px);

	padding: 10px;

	border-radius: .2rem;
	border-style: solid;
	border-width: 1px;
	border-color: black;

	font-family: "Times New Roman", sans-serif;
}

#confirmation-invoice-slip h2 {
	color: black;
}

#confirmation-invoice-slip-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-bottom: 10px;
}

#confirmation-invoice-slip-header > h2 {
	font-weight: 500;
	padding-right: 10px;
}

#confirmation-invoice-contact-details > h2 {
	padding: 10px 0;
	font-weight: 500;
}

#confirmation-invoice-reservation-details > h2 {
	padding: 10px 0;
	font-weight: 500;
}

#confirmation-invoice-guestlist {
	--guest-count: 3;

	display: grid;
	grid-template-columns: repeat(var(--guest-count), 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 8px;

	width: 100%;
}

.confirmation-invoice-guestcontainer {
	padding: 10px 5px;

	border-style: none solid none solid;
	border-width: 0 1px;
	border-color: black;

	background-color: var(--secondary-compl-color);
}

.confirmation-invoice-guestcontainer > h2 {
	font-weight: 500;
	color: black;
}

.confirmation-invoice-guestspecialremarks {
	padding-top: 10px;
}

.confirmation-invoice-guestspecialremarks .guestspecialremarks-content {
	font-size: .9;
	color: #757575;
}

#confirmation-invoice-payment-details > h2 {
	padding: 10px 0;
	font-weight: 500;
}

#confirmation-invoice-thankyou {
	padding: 20px 0;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
	/* add horizontal padding to nav menu */
	#navmenu-attachment {
		--horizontal-gap: 10px;
	}
}

@media only screen and (max-width: 620px) {
	/* reduce gaps between dates input */
	#details-pform-date > table {
		border-spacing: 2px 5px;
	}
}

@media only screen and (max-width: 400px) {
	/* reduce gaps between dates input */
	#details-pform-date > table {
		border-spacing: 8px 8px;
	}

	/* reduce individual date selection padding */
	#details-pform-date > table > tbody > tr > th {
		padding: 10px;
	}

	/* reduce column number to 3 */
	.details-pform-timeslots-container {
		grid-template-columns: repeat(3, 1fr);
	}
}