<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>The Dusk Hotel | Contact Us</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='https://kit.fontawesome.com/420a782bb1.js' crossorigin='anonymous'></script>
		<link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/views/contact_us.css">
	</head>
	<body>
		<div id="topbar-container">
			<a id="comp-logo-a-wrapper" href="./homepage.html"><img id="comp-logo" src="../../static/icon.svg"></a>
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn" type="button">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<a id="topbar-booknow-btn" class="global-site-btn" href="./room_booking.html">
					BOOK NOW
				</a>
				<button id="menu-btn" onclick="document.getElementById('topbar-container').classList.toggle('navopen');">
					<div class="btn-line"></div>
					<div class="btn-line"></div>
					<div class="btn-line"></div>
				</button>
			</div>
			<div id="navigation-outer-darken"></div>
			<div id="navigation-container">
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">ROOMS</button>
					<div class="navigation-section-element">
						<a href="./room_landing_page.html">ROOMS</a>
						<a href="./suite_landing_page.html">SUITES</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">DINING</button>
					<div class="navigation-section-element">
						<a href="./restaurants.html">DAWN</a>
						<a href="./reservations.html">RESERVATIONS</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">EVENTS</button>
					<div class="navigation-section-element">
						<a href="./event_venue.html">VENUE</a>
						<a href="./event_wedding.html">WEDDING</a>
						<a href="./event_corporate.html">CORPORATE</a>
						<a href="./event_inquiry.html">INQUIRY</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">FACILITIES</button>
					<div class="navigation-section-element">
						<a href="./facilities.html">FACILITIES</a>
						<a href="./facilities_booking.html">BOOKING</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">OTHERS</button>
					<div class="navigation-section-element">
						<a href="./promotions.html">PROMOTIONS</a>
						<a href="./contact_us.html">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
		<div id="header-viewport-container">
			<div id="image-darken-overlay"></div>
			<h1 id="center">Contact Us </h1> 
		</div><br>

		<p class="title">GET IN TOUCH WITH THE DUSK CREW <hr class="hrstyle"></p>

		<br><br>
		
		<div id="parent">
			<div class="location">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.820648875257!2d103.85634350920301!3d1.2813385617896225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da194e4d09291b%3A0xbb5c91d8ccd19565!2sBayfront%20MRT%20Station%20(CE1%2FDT16)!5e0!3m2!1sen!2ssg!4v1685161630903!5m2!1sen!2ssg" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="address">
				<p class="heading">OUR LOCATION <hr class="stylehr"></p>
				<p class="descrption"><i style='font-size:18px; color:rgb(201, 50, 50);'class='fas'>&#xf3c5;</i> 11 Bayfont Ave, #1-02, Singapore 018957</p>
			
			   <p class="heading">GETTING HERE <hr class="stylehr"></p>
			   <dl >
					<dt class="dt"> <i style='font-size:18px;color: rgb(62, 50, 50);' class='fas'>&#xf239;</i> By MRT</dt>
						<dd class="dd">&nbsp;&nbsp;&nbsp;&nbsp;Bayfront MRT station (CE1/DT16) , Exit A</dd>
					<br>

					<dt class="dt"><i style='font-size:18px;color: rgb(62, 50, 50);' class='fas'>&#xf55e;</i> By BUS</dt>
						<dd class="dd">&nbsp;&nbsp;&nbsp;&nbsp;88, 169, 170</dd>
					<br>

					<dt class="dt"><i style='font-size:18px;color: rgb(62, 50, 50);' class='fas'>&#xf1b9;</i> By CAR</dt>
					<dd class="dd">&nbsp;&nbsp;&nbsp;&nbsp;Bayfront Avenue , outside Hotel Tower 1</dd>
			  </dl>
			</div>
		</div> 
		<br>
		<!-- <hr class="longhr"> -->
		<br>

		<!-- NEWSLETTER -->
		<form id="subscribeform">
			<div class="container">
			  <h2 >SUBSCRIBE TO OUR NEWSLETTER</h2>
			  <p><i>Get the lastest updates of our new products and services before others </i></p>
			</div>

			
			<div class="container" style="background-color:white">
				<label>First Name*</label>
				<input type="text" placeholder="Your Name" name="firstname" required>
			   
				<label>Last Name*</label>
				<input type="text" placeholder="Last Name" name="lastname" required>

				<label for="email">Email Address*</label><br>
				<input type="email" id="email" name="emailaddress" placeholder="Email Address" required>

				<p style="font-size: 15px;"><i>* Required</i></p>

				<input type="checkbox" name="subscribe" required>
				<label for="subscribe">I agree to receive updates from Dusk's NewsLetter</label>
			</div>
			<div class="container">
				<input id="subscribebutton" type="submit" class="subscribe" value="SUBSCRIBE">
			</div>
		</form>
	</body>

		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- JAVASCRIPT AFTER SUBMITTING FORM -->
	<script type="text/javascript">
		var form = document.getElementById("subscribeform")

		form.addEventListener("submit", function(e) {
			alert(`Thank you for subscribing to Dusk’s Newsletter! Do check your inbox for our message.`)
		})
	</script>
</html>
		
	
		

	   