<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" initial-scale="1.0">
		<title>The Dusk Hotel | Rooms</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/views/room_landing_page.css">
	</head>
	<body>
		<div id="topbar-container">
			<a id="comp-logo-a-wrapper" href="./homepage.html"><img id="comp-logo" src="../../static/icon.svg"></a>
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn" type="button">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<a id="topbar-booknow-btn" class="global-site-btn" href="./room_booking.html">
					BOOK NOW
				</a>
				<button id="menu-btn" onclick="document.getElementById('topbar-container').classList.toggle('navopen');">
					<div class="btn-line"></div>
					<div class="btn-line"></div>
					<div class="btn-line"></div>
				</button>
			</div>
			<div id="navigation-outer-darken"></div>
			<div id="navigation-container">
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">ROOMS</button>
					<div class="navigation-section-element">
						<a href="./room_landing_page.html">ROOMS</a>
						<a href="./suite_landing_page.html">SUITES</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">DINING</button>
					<div class="navigation-section-element">
						<a href="./restaurants.html">DAWN</a>
						<a href="./reservations.html">RESERVATIONS</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">EVENTS</button>
					<div class="navigation-section-element">
						<a href="./event_venue.html">VENUE</a>
						<a href="./event_wedding.html">WEDDING</a>
						<a href="./event_corporate.html">CORPORATE</a>
						<a href="./event_inquiry.html">INQUIRY</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">FACILITIES</button>
					<div class="navigation-section-element">
						<a href="./facilities.html">FACILITIES</a>
						<a href="./facilities_booking.html">BOOKING</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">OTHERS</button>
					<div class="navigation-section-element">
						<a href="./promotions.html">PROMOTIONS</a>
						<a href="./contact_us.html">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
		<div id="header-viewport-container">
			<div id="image-darken-overlay"></div>
			<h1 id="center"><p>Rooms & Suites</p><br>
			<p class="text">Experience the essence of luxury and tranquillity <br>adorned with sophisticated decors paired with breath-taking scenery surrounding you</p> </h1>      
		</div>
		<div id="selector-container">
			<a class="bignavbtn" href="">Rooms</a>
			<a class="bignavbtn" href="./suite_landing_page.html">Suites</a>
		</div>
		<hr class="stylehr">
		<br>
		<div id="background-color">
			<div class="firsthalf">
				<img src="../../static/rooms/deluxbedroom.png" alt="Deluxe Bedroom">
			</div>
			<div class="secondhalf">
				   <p class="heading">Deluxe Room</p>
				   <hr class="underline">
			
				   <div class = "roomdetails">
						<div class = "firsthalf">
							<p class = "details">60 m² / 645 ft² <span style="color: #bd9526;" >|</span> 3 Guests <span style="color:#bd9526;">|</span> City View</p>
							<p class="para">Delicately furnished with luxury touches to offer high level of comfort, accommodating up to 3 guests. <br><br>Designed with attention to detail, our Deluxe Room offers ample space with a range of premium amenities, including a view of the city.</p>
						</div>
						<div class = "roomhalf2"> 
							<p class = "prices">From:</p>
							<p class="prices1">$590.90<span class="night">/night</span><br></p>
							<p class="prices"><i>Includes Goods & Service Tax</i></p>
							<p class="ratings">Ratings:</p>
								<p class = "stars">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"><span class="review"> <i>(48)</i></span></span>
									<br><br>
								</p>
							
							<div class="roomdetails">
								<a href="../includes/room_deluxe.html" class="interactivebtn">VIEW MORE DETAILS</a>
							</div>
						 </div>
					</div>
				</div>
			</div>
			<br><br>
			<div id="background-color">
				<div class="firsthalf">
					<img src="../../static/rooms/naturebedroom.png" alt="Serenity Bedroom">
				</div>
				<div class="secondhalf">
					   <p class="heading">Serenity Room</p>
					   <hr class="underline">
				
					   <div class = "roomdetails">
							<div class = "firsthalf">
								<p class = "details">50 m² / 538 ft² <span style="color: #bd9526;" >|</span> 4 Guests <span style="color:#bd9526;">|</span> Nature View</p>
								<p class="para">A tranquil and harmonious space designed to create a peaceful atmosphere, accommodating up to 4 guests. <br><br> Featuring cozy furnitures and calming elements to ensure absolute relaxation, along with a view of nature.</p>
							</div>
							<div class = "roomhalf2"> 
								<p class = "prices">From:</p>
								<p class="prices1">$490.90<span class="night">/night</span><br></p>
								<p class="prices"><i>Includes Goods & Service Tax</i></p>
								<p class="ratings">Ratings:</p>
								<p class = "stars">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star-half-empty"><span class="review"> <i>(60)</i></span></span>
									<br><br>
								</p>
								<div class="roomdetails">
									<a href="../includes/room_serenity.html" class="interactivebtn">VIEW MORE DETAILS</a>
								</div>
							 </div>
						</div>
					</div>
				</div>
				<br><br>
				<div id="background-color">
					<div class="firsthalf">
						<img src="../../static/rooms/classicbedroom.png" alt="Classic Bedroom">
					</div>
					<div class="secondhalf">
						   <p class="heading">Classic Room</p>
						   <hr class="underline">
					
						   <div class = "roomdetails">
								<div class = "firsthalf">
									<p class = "details">40 m² / 430 ft² <span style="color: #bd9526;" >|</span> 3 Guests <span style="color:#bd9526;">|</span> Skyline View</p>
									<p class="para">Experience contemporary elegance refined with local touches, accommodating up to 3 guests. <br><br>Our Classic Room includes a wide range of essential amenities for guests to enjoy as well as a panoramic of the city skyline.</p>
								</div>
								<div class = "roomhalf2"> 
									<p class = "prices">From:</p>
									<p class="prices1">$390.90<span class="night">/night</span><br></p>
									<p class="prices"><i>Includes Goods & Service Tax</i></p>
									<p class="ratings">Ratings:</p>
									<p class = "stars">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"><span class="review"> <i>(35)</i></span></span>
										<br><br>
									</p>
								<div class="roomdetails">
									<a href="../includes/room_classic.html" class="interactivebtn">VIEW MORE DETAILS</a>
								</div>
							</div>
						</div>
					</div>
				</div>
	</body>
</html>