<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/views/event_venue.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<title>The Dusk Hotel | Venues</title>
	</head>
	<body>
		<div id="topbar-container">
			<a id="comp-logo-a-wrapper" href="./homepage.html"><img id="comp-logo" src="../../static/icon.svg"></a>
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn" type="button">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<a id="topbar-booknow-btn" class="global-site-btn" href="./room_booking.html">
					BOOK NOW
				</a>
				<button id="menu-btn" onclick="document.getElementById('topbar-container').classList.toggle('navopen');">
					<div class="btn-line"></div>
					<div class="btn-line"></div>
					<div class="btn-line"></div>
				</button>
			</div>
			<div id="navigation-outer-darken"></div>
			<div id="navigation-container">
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">ROOMS</button>
					<div class="navigation-section-element">
						<a href="./room_landing_page.html">ROOMS</a>
						<a href="./suite_landing_page.html">SUITES</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">DINING</button>
					<div class="navigation-section-element">
						<a href="./restaurants.html">DAWN</a>
						<a href="./reservations.html">RESERVATIONS</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">EVENTS</button>
					<div class="navigation-section-element">
						<a href="./event_venue.html">VENUE</a>
						<a href="./event_wedding.html">WEDDING</a>
						<a href="./event_corporate.html">CORPORATE</a>
						<a href="./event_inquiry.html">INQUIRY</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">FACILITIES</button>
					<div class="navigation-section-element">
						<a href="./facilities.html">FACILITIES</a>
						<a href="./facilities_booking.html">BOOKING</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">OTHERS</button>
					<div class="navigation-section-element">
						<a href="./promotions.html">PROMOTIONS</a>
						<a href="./contact_us.html">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<h1>VENUES</h1>
			<h3>Plan your next event with us in our exclusive venues, tailored based on your event needs.</h3>
		</div>
		<div id="body-content">
			<div class="function-card">
				<div class="function-image" style="background-image: url('../../static/events/venue1.jpg')">
				</div>
				<div class="function-detail-container">
					<div class="function-detail-info">
						<h2>The Grand Ballroom</h2>
						<p>Dynamic, multi-entertainment venue capable of hosting a variety of meetings and events. Boasting three state-of-the-art panoramic LED video walls, intelligent lighting and a superior sound system, this venue allows for visually impactful, multi-sensory and immersive experiences when hosting events, meetings or social celeberations.</p>
					</div>
					<div class="function-attributes-container">
						<div class="function-pax-count">
							<p>1000 Guests</p>
						</div>
						<div class="function-wifi-icon">
						</div>
						<div class="function-accessible-icon">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="body-content">
			<div class="function-card">
				<div class="function-image" style="background-image: url('../../static/events/venue2.jpg')">
				</div>
				<div class="function-detail-container">
					<div class="function-detail-info">
						<h2>Junior Ballroom</h2>
						<p>The private room with natural day light is ideal for board meetings or luncheons. junior ballroom also offers a creative and versatile space for corporate events or intimate weddings. The venue's elegant ambiance and well-maintained dance floor provide a unique setting for a range of occasions, creating a memorable experience for attendees.<br> <br>For corporate events, the Junior Ballroom can be transformed into a professional yet inviting space. </p>
					</div>
					<div class="function-attributes-container">
						<div class="function-pax-count">
							<p>234 Guests</p>
						</div>
						<div class="function-wifi-icon">
						</div>
						<div class="function-accessible-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body-content">
			<div class="function-card">
				<div class="function-image" style="background-image: url('../../static/events/venue3.jpg')">
				</div>
				<div class="function-detail-container">
					<div class="function-detail-info">
						<h2>The Boardroom</h2>
						<p>Provides the perfect setting for high-level discussions, strategic planning, and important decision-making. Equipped with state-of-the-art audiovisual technology and comfortable seating, it offers a seamless and immersive experience for your team.<br> <br>Step into our boardroom and unlock the potential for successful and impactful meetings. </p>
					</div>
					<div class="function-attributes-container">
						<div class="function-pax-count">
							<p>40 Guests</p>
						</div>
						<div class="function-wifi-icon">
						</div>
						<div class="function-accessible-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="secondpart">
			<span class="general">
				<p>For events enquiries, feel free to reach out to us without any hesitation and we look forward to welcoming you soon.</p>
			</span>
			<span class="info"> 
				<p> Contact Information
				<br> 
				Email: meetings@theduskhotel.com </p>
				
				<br>
				<a href="./event_inquiry.html" target="_blank" class="global-site-btn"> INQUIRE </a>
			</span>
		</div>

		<div class="faq">
			<div class="faq-item">
				<div class="faq-header"> Capacity Chart </div>
					<div class="faq-content">
						<table>
							<tr>
								<th>Venue</th>
								<th>Dimension in Meter (LxWxH)</th>
								<th>Area (sq.mt)</th>
								<th>Capacity (pax)</th>
							</tr>
							<tr>
								<td>The Grand Ballroom</td>
								<td>35.1x31.1x5</td>
								<td>1089.7</td>
								<td>1000</td>
							</tr>
							<tr>
								<td>Junior Ballroom</td>
								<td>13.5x16x4.8</td>
								<td>216</td>
								<td>234</td>
							</tr>
							<tr>
								<td>The Boardroom</td>
								<td>8.4x6.4x2.7</td>
								<td>53.5</td>
								<td>40</td>
							</tr>
						</table>
					</div>
				</div>
			
				<div class="faq-item">
					<div class="faq-header"> Equipments and Services </div>
						<div class="faq-content" id="equipment-services">
							<h2 class="top-list"> Audio-Visual Equipment </h2>
							<li class="faq-list">
								<ul>AV Technician</ul>
								<ul>LCD Projector</ul>
								<ul>Microphone</ul>
								<ul>Overhead Projector</ul>
								<ul>PA System</ul>
								<ul>TV</ul>
								<ul>TV Production Service Provider</ul>
								<ul>Teleconferencing</ul>
								<ul>Videoconferencing</ul>
								<ul>Wireless Internet</ul>
							</li>

							<hr class="faq-hr">

							<h2 class="top-list"> Event Equipment & Supplies </h2>
							<li class="faq-list">
								<ul>Direction Signs</ul>
								<ul>Flip Chart & Markers</ul>
								<ul>Name Cards</ul>
								<ul>Pens / Pencils / Notepad</ul>
								<ul>Spotlights</ul>
								<ul>Tables</ul>
								<ul>Wall Charts</ul>
							</li>


							<hr class="faq-hr">

							<h2 class="top-list"> Event Services </h2>
							<li class="faq-list">
								<ul>Carpenter</ul>
								<ul>Decorator</ul>
								<ul>Electrician</ul>
								<ul>Event Lighting</ul>
								<ul>Locksmith</ul>
								<ul>Message Service</ul>
								<ul>Photographer</ul>
								<ul>Registration Service</ul>
								<ul>Security Guards</ul>
							</li>
						</div>
					</div>
				</div>
			</div>
		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		// Get all accordion headers
		var faqHeaders = document.getElementsByClassName('faq-header');

		// Add click event listener to each accordion header
		Array.from(faqHeaders).forEach(function(header) {
		  header.addEventListener('click', function() {
			this.classList.toggle("active");
			// Toggle the visibility of accordion content
			var content = this.nextElementSibling;
			if (content.style.display === 'block') {
			  content.style.display = 'none';
			} else {
			  content.style.display = 'block';
			}
		  });
		});

	</script>
</html>