<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/includes/event_corporate.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<title>The Dusk Hotel | Corporate</title>
	</head>
	<body>
		<div id="topbar-container">
			<a id="comp-logo-a-wrapper" href="./homepage.html"><img id="comp-logo" src="../../static/icon.svg"></a>
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn" type="button">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<a id="topbar-booknow-btn" class="global-site-btn" href="./room_booking.html">
					BOOK NOW
				</a>
				<button id="menu-btn" onclick="document.getElementById('topbar-container').classList.toggle('navopen');">
					<div class="btn-line"></div>
					<div class="btn-line"></div>
					<div class="btn-line"></div>
				</button>
			</div>
			<div id="navigation-outer-darken"></div>
			<div id="navigation-container">
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">ROOMS</button>
					<div class="navigation-section-element">
						<a href="./room_landing_page.html">ROOMS</a>
						<a href="./suite_landing_page.html">SUITES</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">DINING</button>
					<div class="navigation-section-element">
						<a href="./restaurants.html">DAWN</a>
						<a href="./reservations.html">RESERVATIONS</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">EVENTS</button>
					<div class="navigation-section-element">
						<a href="./event_venue.html">VENUE</a>
						<a href="./event_wedding.html">WEDDING</a>
						<a href="./event_corporate.html">CORPORATE</a>
						<a href="./event_inquiry.html">INQUIRY</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">FACILITIES</button>
					<div class="navigation-section-element">
						<a href="./facilities.html">FACILITIES</a>
						<a href="./facilities_booking.html">BOOKING</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">OTHERS</button>
					<div class="navigation-section-element">
						<a href="./promotions.html">PROMOTIONS</a>
						<a href="./contact_us.html">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<h1>CORPORATE EVENTS</h1>
			<h3>Setting the stage for success: Transform your corporate events into memorable milestones</h3>
		</div>
		<div id="body-content">
			<div class="function-card">
				<div class="function-image">
						<img class="function-image-ele" src="../../static/events/mycorporate1.jpg">
						<img class="function-image-ele" src="../../static/events/mycorporate2.jpg">
						<img class="function-image-ele" src="../../static/events/mycorporate3.jpg">
				</div>
				<div class="function-detail-container">
					<div class="function-detail-info">
						<p>As the premier choice for hosting corporate events, we offer an unparalleled setting that exudes elegance and ensures a memorable experience for all attendees.<br> <br> Indulge in an elevated event experience by selecting our hotel as your preferred venue for corporate gatherings. Let us assist you in creating an atmosphere of sophistication and distinction that will inspire creativity, foster meaningful connections, and propel your business forward.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="body-content">
			<div class="onsite-packages" id="onsitepack">
				<h1 class="top2"> Onsite Meeting Packages </h1>
				<p class="topdesc"> Where Collaboration Soars: Empowering In-Person Connections for Success </p> 
			
					<div class="box"> 
						<img class="packimage" src="../../static/events/corporate2a.jpg">
						<h2 class="top3"> Essential Meeting Experience </h2>
						<ul class="package">
							<li> Venue leasing or space reservation for meetings </li>
							<li> Essential audiovisual setup (including projector, screen, and microphone) </li>
							<li> Conventional seating configuration comprising chairs and tables </li>
							<li> Complimentary Wi-Fi connectivity </li>
							<li> Complimentary stationery essentials (including notepads and pens) </li>
							<br> <br>
						</ul>
					</div>
			
					<hr class="vertical"> 
			
					<div class="box"> 
						<img class="packimage" src="../../static/events/corporate2b.jpg">
						<h2 class="top3"> Signature Meeting Package </h2>
						<ul class="package">
							<li> All items in the Essential Meeting Experience </li>
							<li> Advanced audiovisual equipment (video conferencing capabilities, interactive displays) </li>
							<li> Upgraded seating arrangement featuring comfortable chairs and customizable layouts  </li>
							<li> Standard beverage options (water, coffee, tea) </li>
							<li> Assorted culinary offerings (casual bites or refreshments) </li>
							<br> <br>
						</ul>
					</div>
			
					<hr class="vertical"> 
			
					<div class="box"> 
						<img class="packimage" src="../../static/events/corporate2c.jpg">
						<h2 class="top3"> Exclusive Business Symposium </h2>
						<ul class="package">
								<li> All items in the Signature Meeting Package </li>
								<li> State-of-the-art audiovisual equipment (video conferencing capabilities, immersive interactive displays) </li>
								<li> Expert technical assistance on standby </li>
								<li> Customizable branding and signage options </li>
								<li> Full catering services (breakfast, lunch, snacks, beverages) </li>
								<li> Premium seating options (ergonomic chairs, lounge areas) </li>
						</ul>
					</div>
			
					<span id="less"> </span>
			
					<span id="more"> 
					<div class="box"> 
						<img class="packimage" src="../../static/events/corporate2d.jpg">
						<h2 class="top3"> Premier Power Meeting </h2>
						<ul class="package">
								<li> All items in the Exclusive Business Symposium </li>
								<li> Exclusive and private meeting space </li>
								<li> High-end audiovisual equipment (professional-grade sound and lighting) </li>
								<li> VIP amenities (concierge services, private check-in) </li>
								<li> Gourmet catering options (customized menus, fine dining experiences) </li>
								<li> Enhanced branding opportunities (logo placement, personalized materials) </li>
						</ul>
					</div>
			
					<hr class="vertical">
			
					<div class="box"> 
						<img class="packimage" src="../../static/events/corporate2e.jpg">
						<h2 class="top3"> Luxe Conference Experience </h2>
						<ul class="package">
								<li> All items in the Premier Power Meeting </li>
								<li> Tailored lodging arrangements for attendees </li>
								<li> Convenient transportation options (including airport transfers and shuttle services) </li>
								<li> Team-building activities or off-site excursions </li>
								<li> Additional services (professional photographers, event coordinators) </li>
								<br> <br>
						</ul>
					</div>
					</span>
			
					<button onclick="toggleOnsiteContent()" id="onsite-readmore"> READ MORE </button>
				</div>
			</div>
		</div>
		<div id="body-content">
			<div class="item-packages" id="virtualpack">
					<h1 class="top2"> Virtual Meeting Packages </h1>
					<p class="topdesc"> Unite, Engage, and Inspire: Elevating Connections in the Virtual Sphere </p>
				
						<div class="box"> 
							<img class="packimage" src="../../static/events/virtual2a.png">
							<h2 class="top3"> Virtual Elite Experience </h2>
							<ul class="package">
								<li> Seamless access to a dependable virtual meeting platform </li>
								<li> Fundamental audio and visual functionalities </li>
								<li> On-call technical assistance throughout the meeting </li>
								<li> Pre-event testing and troubleshooting assistance </li>
								<li> Digitized meeting resources encompassing agendas and presentations </li>
								<br> <br> <br>
							</ul>
						</div>
			
						<hr class="vertical">
			
						<div class="box"> 
							<img class="packimage" src="../../static/events/virtual2b.png">
							<h2 class="top3"> Prestige Virtual Convergence </h2>
							<ul class="package">
								<li> Comprehensive package for multi-session virtual conferences </li>
								<li> Concurrent session management and scheduling </li>
								<li> Speaker management and presentation coordination </li>
								<li> On-demand access to recorded sessions </li>
								<li> Virtual exhibition booths or sponsor showcases </li>
								<br> <br> <br> <br>
							</ul>
						</div>
			
						<hr class="vertical">
			
						<div class="box"> 
							<img class="packimage" src="../../static/events/virtual2c.jpg">
							<h2 class="top3"> Hybrid Meeting Package </h2>
							<ul class="package">
								<li> Hybrid event setup with a combination of in-person and virtual attendees </li>
								<li> Integration of virtual and physical meeting components </li>
								<li> Live streaming of in-person sessions to virtual participants </li>
								<li> Interactive participation options for virtual attendees </li>
								<li> Seamless coordination between virtual and in-person experiences </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="secondpart">
			<span class="general">
				<p>For any inquiries regarding onsite or virtual events, please do not hesitate to contact us.<br>We eagerly anticipate the opportunity to welcome you soon. </p>
			</span>
			<span class="info"> 
				<p> Contact Information
				<br> 
				Email: corporate@theduskhotel.com </p>
				
				<br>
				<a href="./event_inquiry.html" target="_blank" class="global-site-btn"> INQUIRE </a>
			</span>
		</div>

		<div class="faq">
			<div class="faq-item">
				<div class="faq-header"> Capacity Chart </div>
					<div class="faq-content">
						<table>
							<tr>
								<th>Venue</th>
								<th>Dimension in Meter (LxWxH)</th>
								<th>Area (sq.mt)</th>
								<th>Capacity (pax)</th>
							</tr>
							<tr>
								<td>The Grand Ballroom</td>
								<td>35.1x31.1x5</td>
								<td>1089.7</td>
								<td>1000</td>
							</tr>
							<tr>
								<td>Junior Ballroom</td>
								<td>13.5x16x4.8</td>
								<td>216</td>
								<td>234</td>
							</tr>
							<tr>
								<td>The Boardroom</td>
								<td>8.4x6.4x2.7</td>
								<td>53.5</td>
								<td>40</td>
							</tr>
						</table>
					</div>
				</div>
			
				<div class="faq-item">
					<div class="faq-header"> Equipments and Services </div>
						<div class="faq-content tier-two-faq">
							<h2 class="top-list"> Audio-Visual Equipment </h2>
							<li class="faq-list">
								<ul>AV Technician</ul>
								<ul>LCD Projector</ul>
								<ul>Microphone</ul>
								<ul>Overhead Projector</ul>
								<ul>PA System</ul>
								<ul>TV</ul>
								<ul>TV Production Service Provider</ul>
								<ul>Teleconferencing</ul>
								<ul>Videoconferencing</ul>
								<ul>Wireless Internet</ul>
							</li>

							<hr class="faq-hr">

							<h2 class="top-list"> Event Equipment & Supplies </h2>
							<li class="faq-list">
								<ul>Direction Signs</ul>
								<ul>Flip Chart & Markers</ul>
								<ul>Name Cards</ul>
								<ul>Pens / Pencils / Notepad</ul>
								<ul>Spotlights</ul>
								<ul>Tables</ul>
								<ul>Wall Charts</ul>
							</li>


							<hr class="faq-hr">

							<h2 class="top-list"> Event Services </h2>
							<li class="faq-list">
								<ul>Carpenter</ul>
								<ul>Decorator</ul>
								<ul>Electrician</ul>
								<ul>Event Lighting</ul>
								<ul>Locksmith</ul>
								<ul>Message Service</ul>
								<ul>Photographer</ul>
								<ul>Registration Service</ul>
								<ul>Security Guards</ul>
							</li>
						</div>
					</div>
				</div>
			</div>
		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var myIndex = 0;
		carousel();
		
		function carousel() {
			var i;
			var x = document.getElementsByClassName("function-image-ele");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";  
			}
			myIndex++;
			if (myIndex > x.length) {myIndex = 1}    
			x[myIndex-1].style.display = "block";  
			setTimeout(carousel, 2000); // Change image every 2 seconds
		}
		function toggleOnsiteContent() {
			var dots = document.getElementById("less");
			var moreText = document.getElementById("more");
			var btnText = document.getElementById("onsite-readmore");

			if (dots.style.display === "none") {
				dots.style.display = "inline";
				btnText.innerHTML = "READ MORE"; 
				moreText.style.display = "none";
			} else {
				dots.style.display = "none";
				btnText.innerHTML = "READ LESS"; 
				moreText.style.display = "inline";
			}
		}

		// Get all accordion headers
		var faqHeaders = document.getElementsByClassName('faq-header');

		// Add click event listener to each accordion header
		Array.from(faqHeaders).forEach(function(header) {
		  header.addEventListener('click', function() {
			this.classList.toggle("active");
			// Toggle the visibility of accordion content
			var content = this.nextElementSibling;
			if (content.style.display === 'block') {
			  content.style.display = 'none';
			} else {
			  content.style.display = 'block';
			}
		  });
		});

	</script>
</html>