<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/views/reservations.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<title>The Dusk Hotel | Reservations</title>
	</head>
	<body>
		<div id="popup-container">
			<div id="popup-msg-container"></div>
		</div>
		<div id="topbar-container">
			<a id="comp-logo-a-wrapper" href="./homepage.html"><img id="comp-logo" src="../../static/icon.svg"></a>
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn" type="button">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<a id="topbar-booknow-btn" class="global-site-btn" href="./room_booking.html">
					BOOK NOW
				</a>
				<button id="menu-btn" onclick="document.getElementById('topbar-container').classList.toggle('navopen');">
					<div class="btn-line"></div>
					<div class="btn-line"></div>
					<div class="btn-line"></div>
				</button>
			</div>
			<div id="navigation-outer-darken"></div>
			<div id="navigation-container">
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">ROOMS</button>
					<div class="navigation-section-element">
						<a href="./room_landing_page.html">ROOMS</a>
						<a href="./suite_landing_page.html">SUITES</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">DINING</button>
					<div class="navigation-section-element">
						<a href="./restaurants.html">DAWN</a>
						<a href="./reservations.html">RESERVATIONS</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">EVENTS</button>
					<div class="navigation-section-element">
						<a href="./event_venue.html">VENUE</a>
						<a href="./event_wedding.html">WEDDING</a>
						<a href="./event_corporate.html">CORPORATE</a>
						<a href="./event_inquiry.html">INQUIRY</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">FACILITIES</button>
					<div class="navigation-section-element">
						<a href="./facilities.html">FACILITIES</a>
						<a href="./facilities_booking.html">BOOKING</a>
					</div>
				</div>
				<div class="navigation-section-container" onclick="this.classList.toggle('active')">
					<button type="button">OTHERS</button>
					<div class="navigation-section-element">
						<a href="./promotions.html">PROMOTIONS</a>
						<a href="./contact_us.html">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>
		<div id="window-image-container">
		</div>
		<div id="navmenu-attachment">
			<div id="restaurant-selector">
				<p>restaurant:</p>
				<h2>DAWN</h2>
			</div>
			<div id="progress-container">
				<div class="progress-tab-container unlocked active" id="details-tab-container">
					<button type="button">Details</button>
					<div class="progress-tab-next-arrow">
					</div>
				</div>
				<div class="progress-tab-container" id="guests-tab-container">
					<button type="button" disabled>Guests</button>
					<div class="progress-tab-next-arrow">
					</div>
				</div>
				<div class="progress-tab-container" id="payment-tab-container">
					<button type="button" disabled>Payment</button>
					<div class="progress-tab-next-arrow">
					</div>
				</div>
				<div class="progress-tab-container" id="confirmation-tab-container">
					<button type="button" disabled>Confirmation</button>
				</div>
			</div>
		</div>
		<div id="page-window">
			<div id="details-page-container" class="page-container active">
				<div class="page-header-container">
					<h1>Details</h1>
					<button class="page-header-next-navigbtn" type="button">Next</button>
				</div>
				<hr>
				<div id="details-pform-container">
					<div id="details-pform-timing-display">
						<p id="details-pform-timing-display-text"></p>
					</div>
					<div id="details-pform-header">
						<button id="details-pform-date-input-selector" class="active" type="button">Date</button><button id="details-pform-time-input-selector" type="button">Time</button>
					</div>
					<div id="details-pform-selectors-page-container">
						<div id="details-pform-date" class="">
							<div id="details-pform-date-header">
								<button id="pform-date-prev-month" class="pform-date-calendar-btn" type="button">
								</button>
								<h2 id="pform-date-calendar-header">May 2023</h2>
								<button id="pform-date-next-month" class="pform-date-calendar-btn active" type="button">
								</button>
							</div>
							<table>
								<thead>
									<tr>
										<th>Sun</th>
										<th>Mon</th>
										<th>Tue</th>
										<th>Wed</th>
										<th>Thu</th>
										<th>Fri</th>
										<th>Sat</th>
									</tr>
								</thead>
								<tbody id="pform-date-selection-container">
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="details-pform-time" class="hidden">
							<div id="details-pform-time-block">
								<img src="https://svgsilh.com/svg/1801287.svg">
								<p>Please select a date first</p>
							</div>
							<div id="details-pform-time-booking-container" class="hidden">
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-page-next-btn-container">
					<button class="page-header-next-navigbtn" type="button">Next</button>
				</div>
			</div>
			<div id="guests-page-container" class="page-container">
				<div class="page-header-container">
					<h1>Guests</h1>
					<button class="page-header-next-navigbtn" type="button">Next</button>
				</div>
				<hr>
				<div id="guests-pform-container">
					<form id="contact-particulars-form" name="contact-particulars-form">
						<div id="contact-particulars-form-header">
							<h1>CONTACT</h1>
						</div>
						<label for="contact-email-addr">Email address<span class="required-field-label">*</span></label>
						<input name="contact-email-addr" placeholder="Email address" type="email">
					</form>
					<hr>
					<form class="guest-particulars-form" name="guest-particulars">
						<div class="guest-particulars-form-header">
							<h1>DETAILS</h1>
							<h4 class="guest-particulars-name-disp">&nbsp;</h4>
						</div>
						<div class="guest-particulars-name-container">
							<div>
								<label for="guest-firstname">First name<span class="required-field-label">*</span></label>
								<input name="guest-firstname" placeholder="First name" type="text" pattern="[a-zA-Z\s\/]{3,255}" maxlength="255">
							</div>
							<div>
								<label for="guest-lastname">Last name<span class="required-field-label">*</span></label>
								<input name="guest-lastname" placeholder="Last name" type="text" pattern="[a-zA-Z\s\/]{3,255}" maxlength="255">
							</div>
						</div>

						<label for="guest-special">Special remarks</label>
						<input name="guest-special" placeholder="Dietary requirements, high chair, etc.." type="text" maxlength="255">

						<div class="guest-count-input-container">
							<label for="guest-count">Pax:</label>
							<button class="guest-count-ticker-btn" id="guest-count-decremental-btn" type="button">-</button>
							<input class="guest-count-input" name="guest-count" placeholder=1 type="number">
							<button class="guest-count-ticker-btn" id="guest-count-incremental-btn" type="button">+</button>
						</div>
					</form>
				</div>
				<div class="bottom-page-next-btn-container">
					<button class="page-header-next-navigbtn" type="button">Next</button>
				</div>
			</div>
			<div id="payment-page-container" class="page-container">
				<div class="page-header-container">
					<h1>Payment</h1>
				</div>
				<hr>
				<div id="payment-details-container">
					<h2>Reservation details</h2>
					<div id="reservation-details-container">
						<p id="reservation-payment-details-date">Date: 26/05/23</p>
						<p id="reservation-payment-details-time">Time: 18:00</p>
						<p id="reservation-payment-details-service">Service: Dinner</p>
						<p id="reservation-payment-details-loc">Location: DAWN restaurant</p>
						<p id="reservation-payment-details-paxcount">Guests:</p>
					</div>
					<p>A credit hold of $50 is required for reservations.<br>Upon completing your reservation, the credit hold will be released back into your bank immediately.<br>For more details, read our <a class="faq-hyperlink" href="/faq#credit-hold">FAQ ↪</a>.</p>
				</div>
				<hr>
				<form id="payment-pform-container" name="payment-card-details">
					<label id="payment-card-name-label" for="payment-card-name">Name on card</label>
					<input id="payment-card-name-input" name="payment-card-name" placeholder="Name" type="text" pattern="[a-zA-Z\s\/]{3,255}" autocomplete="cc-name" minlength="3" maxlength="255" required>
					<label id="payment-card-no-label" for="payment-card-no">Card number</label>
					<input id="payment-card-no-input" name="payment-card-no" placeholder="0000 0000 0000 0000" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" required>

					<div id="payment-pform-card-details-row-container">
						<div class="payment-pform-card-details-input-group">
							<label id="payment-card-expmnth-label" for="payment-card-expmnth">Expiry</label>
							<div id="payment-pform-cardexp-input-group">
								<input id="payment-card-expmnth-input" name="payment-card-expmnth" placeholder="MM" inputmode="numeric" pattern="[0-9]{2}" type="text" autocomplete="cc-exp-month" required>
								<p>/</p>
								<input id="payment-card-expyr-input" name="payment-card-expyr" placeholder="YYYY" inputmode="numeric" pattern="[0-9]{4}" type="text" autocomplete="cc-exp-year" required>
							</div>
						</div>
						<div class="payment-pform-card-details-input-group">
							<label id="payment-card-cvv-label" for="payment-card-cvv">CVV</label>
							<input id="payment-card-cvv-input" name="payment-card-cvv" placeholder="•••" inputmode="numeric" pattern="[0-9]{2}" type="text" minlength="3" maxlength="3" min="0" autocomplete="cc-cvv" required>
						</div>
					</div>
					<hr>
					<button id="payment-pform-addcard" type="button">Process Card</button>
				</form>
			</div>
			<div id="confirmation-page-container" class="page-container">
				<div class="page-header-container">
					<h1>Confirmation</h1>
				</div>
				<hr>
				<div id="confirmation-details-container">
					<!-- <img src="../../static/checkmark_icon.svg"> -->
					<h1>ƪ(˘⌣˘)ʃ</h1>
					<h3>Thank you!</h3>
					<p id="confirmation-final-msg">Reservation successful! Credit hold of <span>$50</span> has been placed. A confirmation email will be sent out to %%email%% shortly!</p>

					<p class="confirmation-details-field-header">Date</p>
					<p id="confirmation-details-date"></p>
					<p class="confirmation-details-field-header">Time</p>
					<p id="confirmation-details-time"></p>
					<p class="confirmation-details-field-header">Service</p>
					<p id="confirmation-details-service"></p>
					<p class="confirmation-details-field-header">Location</p>
					<p id="confirmation-details-location"></p>
					<p class="confirmation-details-field-header">Guests</p>
					<p id="confirmation-details-paxcount"></p>
				</div>
			</div>
		</div>
		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		// util object
		const utils = {
			_popupTicker: 0, // ticker that acts as session id for every pop up instance
			popupMsgContainer: document.getElementById("popup-msg-container")
		}

		utils.generateTableDates = function(year, month) {
			var tableDates = []
			var availableDateRange = [-1, -1] // index (referenced as absValue defined in the loop)

			var currentMonthFirstDay = new Date(year, month).getDay()
			var currentMonthTotalDays = new Date(year, month +1, 0).getDate()
			var previousMonthTotalDays = new Date(year, month, 0).getDate()

			for (let i = 0; i < 6; i++) {
				var row = []
				for (let j = 0; j < 7; j++) {
					var absValue = j +i *7 // value representing the current amount of days passed
					if (absValue -currentMonthFirstDay >= currentMonthTotalDays) {
						// current month exceeded, use days in next month
						row.push(absValue -currentMonthFirstDay -currentMonthTotalDays +1)

						// update date range
						if (availableDateRange[1] === -1) {
							availableDateRange[1] = absValue -1
						}
					} else if (absValue >= currentMonthFirstDay) {
						// still in current month
						row.push(absValue -currentMonthFirstDay +1)

						// update date range
						if (availableDateRange[0] === -1) {
							availableDateRange[0] = absValue
						}
					} else {
						// use previous months date
						row.push(previousMonthTotalDays -currentMonthFirstDay +absValue +1)
					}
				}
				tableDates.push(row)
			}

			return [tableDates, availableDateRange]
		}

		utils.popup = function(status, msg) {
			// status: boolean, denoting success value of message, if true, will show success style, else fail style

			// increment ticker
			let localTick = ++this._popupTicker

			// remove class
			this.popupMsgContainer.className = ""

			// set message
			this.popupMsgContainer.innerHTML = msg

			// show popup message with status
			this.popupMsgContainer.className = status ? "success" : "fail"

			// set timer
			window.setTimeout(() => {
				if (this._popupTicker === localTick) {
					// still same tick, remove class
					this.popupMsgContainer.className = ""
				}
			}, 4000)
		}

		utils.initialisePopup = function() {
			// one time initialisation call
			this.popupMsgContainer.addEventListener("click", e => {
				// prevent bubbling
				e.stopPropagation();

				// remove class
				this._popupTicker++; // increment ticker

				// remove class
				this.popupMsgContainer.className = ""
			})
		}

		// initialisation caller
		utils.initialisePopup()

		// pages object
		const pages = {
			dir: ["details", "guests", "payment", "confirmation"],
			pageElements: {
				"details": {
					tabContainer: document.getElementById("details-tab-container"),
					pageContainer: document.getElementById("details-page-container"),

					tabButton: document.getElementById("details-tab-container").getElementsByTagName("button")[0],
					tabNextArrow: document.getElementById("details-tab-container").getElementsByClassName("progress-tab-next-arrow")[0],

					nextPageBtn: document.getElementById("details-page-container").getElementsByClassName("page-header-next-navigbtn")[0]
				},
				"guests": {
					tabContainer: document.getElementById("guests-tab-container"),
					pageContainer: document.getElementById("guests-page-container"),

					tabButton: document.getElementById("guests-tab-container").getElementsByTagName("button")[0],
					tabNextArrow: document.getElementById("guests-tab-container").getElementsByClassName("progress-tab-next-arrow")[0],

					nextPageBtn: document.getElementById("guests-page-container").getElementsByClassName("page-header-next-navigbtn")[0]
				},
				"payment": {
					tabContainer: document.getElementById("payment-tab-container"),
					pageContainer: document.getElementById("payment-page-container"),

					tabButton: document.getElementById("payment-tab-container").getElementsByTagName("button")[0],
					tabNextArrow: document.getElementById("payment-tab-container").getElementsByClassName("progress-tab-next-arrow")[0]
				},
				"confirmation": {
					tabContainer: document.getElementById("confirmation-tab-container"),
					pageContainer: document.getElementById("confirmation-page-container"),

					tabButton: document.getElementById("confirmation-tab-container").getElementsByTagName("button")[0],
				}
			},

			currentPage: 0,
			highestPage: 0
		}

		// receiptionist object
		const receiptionist = {
			availableTimeslots: [["Breakfast", "08:00", "09:00", "10:00", "11:00"], ["Dinner", "16:00", "17:00", "18:00", "19:00", "20:00"]],
			timingDisplayEle: document.getElementById("details-pform-timing-display-text"),
			selectedDateThEle: null, // to be set by th.click event
			selectedTimeEle: null, // to be set by button.click event
			date: "", // dd mmm yyyy
			time: "", // 
			service: "",

			generatedCalender: null, // to be generated (by .register())
			generatedCalenderRange: null, // to be generated
			calendarYear: null, // to be generated
			calendarMonth: null, // to be generated

			contactEmailAddr: "", // to be set after validation
			contactFormContainer: document.getElementById("contact-particulars-form"),

			firstName: "", // to be set
			lastName: "", // to be set
			dietaryRequirements: "", // to be set
			paxCount: 1, // to be set
			guestListContainerFormEle: document.getElementById("guests-pform-container"),

			reservationDetailsDisp: {
				"payment": {
					"date": document.getElementById("reservation-payment-details-date"),
					"time": document.getElementById("reservation-payment-details-time"),
					"service": document.getElementById("reservation-payment-details-service"),
					"location": document.getElementById("reservation-payment-details-loc"),
					"paxCount": document.getElementById("reservation-payment-details-paxcount")
				},
				"confirmation": {
					"date": document.getElementById("confirmation-details-date"),
					"time": document.getElementById("confirmation-details-time"),
					"service": document.getElementById("confirmation-details-service"),
					"location": document.getElementById("confirmation-details-location"),
					"paxCount": document.getElementById("confirmation-details-paxcount")
				}
			},

			invoice: {
				detailsContainer: document.getElementById("confirmation-invoice-slip-details"),
				reservationDetailsContainer: document.getElementById("confirmation-invoice-reservation-details"),
				contactDetailsContainer: document.getElementById("confirmation-invoice-contact-details"),
				guestListDetailsContainer: document.getElementById("confirmation-invoice-guestlist")
			},
		}

		receiptionist.updateDateTimeDetails = function() {
			// updates contents of this.timingDisplayEle with this.date and this.time
			if (this.date.length === 0) {
				// empty
				this.timingDisplayEle.innerHTML = "Timings will be shown here"
				return
			}

			// normal populated behaviour
			var o = this.date
			if (this.time.length > 0) {
				o += `, ${this.time}`
			}

			this.timingDisplayEle.innerHTML = o
		}

		receiptionist.chooseDate = function(dateObj) {
			// date: string, in ISO format (YYYYMMDD)
			// returns boolean on whether operation was successful
			var year = dateObj.getFullYear()
			var month = dateObj.toLocaleString("default", {month: "short"})
			var dateNum = dateObj.getDate()

			this.date = `${dateNum} ${month} ${year}`
			this.updateDateTimeDetails()
			return true
		}

		receiptionist.chooseTime = function(idx) {
			// idx: number, time slot choosen (can infer type of service)
			// returns true if found timeslot & service successfully, else false

			// only selects when date has been chosen
			if (this.date.length === 0) {
				// date not yet chosen, return false
				return false
			}

			// find service
			console.log("TIME CHOOSEN", idx)
			var i = 0;
			var service, timeslot;
			for (let serviceIdx = 0; serviceIdx < this.availableTimeslots.length; serviceIdx++) {
				if (i > idx) {
					// finder pointer already exceeded target index no match
					return false
				} else if ((idx -i) >= (this.availableTimeslots[serviceIdx].length -1)) {
					// can skip this service
					i += this.availableTimeslots[serviceIdx].length -1
					continue
				} else {
					service = this.availableTimeslots[serviceIdx][0]
					timeslot = this.availableTimeslots[serviceIdx][idx -i +1]
					break
				}
			}

			if (service == null) {
				// not found
				return false
			}

			this.service = service
			this.time = timeslot
			this.updateDateTimeDetails()

			return true
		}

		receiptionist.resetDateTimeSelection = function() {
			// reset values and stylings for date and time selection
			if (this.date.length > 0) {
				// reset values first (both values)
				this.date = ""
				this.time = ""

				// update display
				this.updateDateTimeDetails();

				// remove 'active' class for date selection (th element)
				this.selectedDateThEle.classList.remove("active")
				this.selectedDateThEle = null;

				if (this.selectedTimeEle) {
					this.selectedTimeEle.classList.remove("active")
					this.selectedTimeEle = null;
				}
			}
		}

		receiptionist.redrawCalendarDateBooking = function(yearIdx, mnthIdx) {
			// generate dates in current month with respect to the day (mon - sun)
			var todayDate = new Date()
			var [tableDates, availableDateRange] = utils.generateTableDates(yearIdx, mnthIdx)
			var pastDateRange = (yearIdx === todayDate.getFullYear() && mnthIdx === todayDate.getMonth()) ? availableDateRange[0] +todayDate.getDate() : 0 // index that indicates the current date (used to determine whether if dates in tableDates has been past)

			// store generated calendar
			this.generatedCalender = tableDates
			this.generatedCalenderRange = availableDateRange

			// store calendar params
			this.calendarMonth = mnthIdx
			this.calendarYear = yearIdx

			// remove styling for active selections (both time and date) if any
			if (this.date.length > 0) {
				this.resetDateTimeSelection()
			}

			// modify dateselection container (and their classes)
			var dateSelectionContainer = document.getElementById("pform-date-selection-container")
			for (let i = 0; i < dateSelectionContainer.children.length; i++) {
				var tr = dateSelectionContainer.children[i]
				for (let j = 0; j < tr.children.length; j++) {
					var th = tr.children[j]

					// write date value
					th.innerHTML = tableDates[i][j]

					// set date property (depending whether its in month) [nim, pcd, ava]
					th.className = "" // reset classes
					if (j +i *7 >= availableDateRange[0] && j +i *7 < pastDateRange -1) {
						// pcd (past current date)
						th.classList.add("pcd")

						// remove role & aria-label & tab-index attribute
						th.removeAttribute("role")
						th.removeAttribute("aria-label")
						th.removeAttribute("tabindex")
					} else if (j +i *7 >= availableDateRange[0] && j +i *7 <= availableDateRange[1]) {
						// ava
						th.classList.add("ava")

						// set role & aria-label & tab-index attribute
						th.setAttribute("role", "button")
						th.setAttribute("aria-label", `select date ${new Date(yearIdx, mnthIdx, tableDates[i][j]).toLocaleDateString("en-US", {weekday: "long", year: "numeric", month: "long", day: "numeric"})}`)
						th.setAttribute("tabindex", "0")
					} else {
						// nim (not in this month)
						th.classList.add("nim")

						// remove role & aria-label & tab-index attribute
						th.removeAttribute("role")
						th.removeAttribute("aria-label")
						th.removeAttribute("tabindex")
					}
				}
			}

			var mnthString = new Date(yearIdx, mnthIdx).toLocaleString("default", {month: "short"})
			mnthString = mnthString.charAt(0).toUpperCase() +mnthString.slice(1) // capitalise first character
			document.getElementById("pform-date-calendar-header").innerHTML = `${mnthString} ${yearIdx}`
		}

		receiptionist.repopulateDetails = function() {
			// re-populate fields in DOM with registration details

			// payment page
			console.log("SETTING", this.reservationDetailsDisp)
			this.reservationDetailsDisp.payment.date.innerHTML = `Date: ${this.date}`
			this.reservationDetailsDisp.payment.time.innerHTML = `Time: ${this.time}`
			this.reservationDetailsDisp.payment.service.innerHTML = `Service: ${this.service}`
			this.reservationDetailsDisp.payment.location.innerHTML = `Location: DAWN`
			this.reservationDetailsDisp.payment.paxCount.innerHTML = `Guests: ${this.paxCount}pax`

			// confirmation page
			this.reservationDetailsDisp.confirmation.date.innerHTML = this.date;
			this.reservationDetailsDisp.confirmation.time.innerHTML = this.time;
			this.reservationDetailsDisp.confirmation.service.innerHTML = this.service;
			this.reservationDetailsDisp.confirmation.location.innerHTML = "DAWN";
			this.reservationDetailsDisp.confirmation.paxCount.innerHTML = `${this.paxCount}pax`;
		}

		receiptionist.register = function() {
			// initialisation call
			var activeTab = 0; // 0 for date selector, 1 for time selector
			var dateSelectorTab = document.getElementById("details-pform-date-input-selector");
			var timeSelectorTab = document.getElementById("details-pform-time-input-selector");

			var dateSelectorPage = document.getElementById("details-pform-date")
			var timeSelectorPage = document.getElementById("details-pform-time")

			var timeBlockMsg = document.getElementById("details-pform-time-block")
			var timeBookingContainer = document.getElementById("details-pform-time-booking-container")

			var calendarPrevBtn = document.getElementById("pform-date-prev-month")
			var calendarNextBtn = document.getElementById("pform-date-next-month")

			var todayDate = new Date()

			dateSelectorTab.addEventListener("click", e => {
				if (activeTab === 0) {
					// already at date selector, ignore
					return
				}

				// set activeTab
				activeTab = 0;

				// remove active class from timeSelector tab, and add it to date selector
				timeSelectorTab.classList.remove("active")
				dateSelectorTab.classList.add("active")

				// show dateSelector page (and make active the calendar navig buttons)
				dateSelectorPage.classList.remove("hidden")
				if (!(todayDate.getFullYear() === this.calendarYear && todayDate.getMonth() === this.calendarMonth)) {
					calendarPrevBtn.classList.add("active")
				}
				calendarNextBtn.classList.add("active")

				// hide timeSelector page
				timeSelectorPage.classList.add("hidden")
			})

			timeSelectorTab.addEventListener("click", e => {
				if (activeTab === 1) {
					// already at date selector, ignore
					return
				}

				// set activeTab
				activeTab = 1;

				// determine if date was already selected (if so, hide block message)
				if (this.date.length === 0) {
					// not selected yet, show block message, high time booking container
					timeBlockMsg.classList.remove("hidden")
					timeBookingContainer.classList.add("hidden")
				} else {
					timeBlockMsg.classList.add("hidden")
					timeBookingContainer.classList.remove("hidden")
				}

				// remove active class from date selector tab, and add it to timeSelector
				dateSelectorTab.classList.remove("active")
				timeSelectorTab.classList.add("active")

				// show timeSelector page
				timeSelectorPage.classList.remove("hidden")

				// hide dateeSelector page (and the calendar buttons)
				dateSelectorPage.classList.add("hidden")
				calendarPrevBtn.classList.remove("active")
				calendarNextBtn.classList.remove("active")
			})

			// generate dates in current month with respect to the day (mon - sun)
			var [tableDates, availableDateRange] = utils.generateTableDates(todayDate.getFullYear(), todayDate.getMonth())
			var pastDateRange = availableDateRange[0] +todayDate.getDate() // index that indicates the current date (used to determine whether if dates in tableDates has been past)

			// store generated calendar
			this.generatedCalender = tableDates
			this.generatedCalenderRange = availableDateRange

			// store calendar params
			this.calendarMonth = todayDate.getMonth()
			this.calendarYear = todayDate.getFullYear()

			// modify dateselection container (register click events)
			// initialisation call (use this.redrawCalendarDateBooking on subsequent calls)
			var dateSelectionContainer = document.getElementById("pform-date-selection-container")
			for (let i = 0; i < dateSelectionContainer.children.length; i++) {
				var tr = dateSelectionContainer.children[i]
				for (let j = 0; j < tr.children.length; j++) {
					let absValue = j +i *7
					var th = tr.children[j]

					// write date value
					th.innerHTML = tableDates[i][j]

					// set date property (depending whether its in month) [nim, pcd, ava]
					if (absValue >= availableDateRange[0] && absValue < pastDateRange -1) {
						// pcd (past current date)
						th.classList.add("pcd")
					} else if (absValue >= availableDateRange[0] && absValue <= availableDateRange[1]) {
						// ava
						th.classList.add("ava")

						// set role & aria-label & tab-index attribute
						th.setAttribute("role", "button")
						th.setAttribute("aria-label", `select booking date ${new Date(todayDate.getFullYear(), todayDate.getMonth(), tableDates[i][j]).toLocaleDateString("en-US", {weekday: "long", year: "numeric", month: "long", day: "numeric"})}`)
						th.setAttribute("tabindex", "0")
					} else {
						// nim (not in this month)
						th.classList.add("nim")
					}

					let thClickFn = e => {
						// determine if this selection is a valid one since month may have changed (yet click works on the same registeration)
						// get date
						e.stopPropagation();
						var date = this.generatedCalender[i][j]

						// see if date is within range
						if (absValue < availableDateRange[0] || absValue > availableDateRange[1]) {
							// out of range, return (invalid click)
							return
						} else {
							// see if the date is already past (pcd)
							if (todayDate.getFullYear() === this.calendarYear && todayDate.getMonth() >= this.calendarMonth && todayDate.getDate() > date) {
								// at current month and year AND today date has past selected date
								// out of range, return (invalid date)
								return
							}
						}

						// valid date
						// remove active styling for previous selection if any
						if (this.date.length > 0 && this.selectedDateThEle != null) {
							this.selectedDateThEle.classList.remove("active")
							this.selectedDateThEle = null; // remove reference since we cannot it will be set again later if errors occur
						}

						// choose date
						var success = this.chooseDate(new Date(this.calendarYear, this.calendarMonth, date))

						// if successfully chose date, set active element and styling, auto trigger time tab
						if (success) {
							this.selectedDateThEle = e.currentTarget // th element (only text node and no other children element inside th, so no bubbling)
							e.currentTarget.classList.add("active")

							// auto switch tab to time selection
							timeSelectorTab.click() // stimulate click; timeSelectorTab is defined on local scope of receiptionist.register(), where this inner function is held
						}
					}

					// set click events (since this is an initialisation call)
					th.addEventListener("click", thClickFn)
					th.addEventListener("keydown", e => {
						if (e.keyCode === 32 || e.keyCode == 13) {
							// space and enter key (for compatibility)
							thClickFn(e)
						}
					})
				}
			}

			// update text display
			var mnthString = todayDate.toLocaleString("default", {month: "short"})
			mnthString = mnthString.charAt(0).toUpperCase() +mnthString.slice(1) // capitalise first character
			document.getElementById("pform-date-calendar-header").innerHTML = `${mnthString} ${todayDate.getFullYear()}`

			// register calendar prev/next buttons
			calendarPrevBtn.addEventListener("click", e => {
				// go back previous month (unless calendarMonth is already this month -- cant go back any more)
				if (todayDate.getFullYear() === this.calendarYear && todayDate.getMonth() === this.calendarMonth) {
					// already at the current month, hide this button
					calendarPrevBtn.classList.remove("active")

					// do nothing
					return
				}

				// calculate month index
				var year, month
				if (this.calendarMonth <= 0) {
					year = this.calendarYear -1
					month = 11
				} else {
					year = this.calendarYear
					month = this.calendarMonth -1
				}

				// redraw calendar
				this.redrawCalendarDateBooking(year, month)

				// determine if need to hide prevbtn
				if (todayDate.getFullYear() === this.calendarYear && todayDate.getMonth() === this.calendarMonth) {
					// cannot go back any more
					calendarPrevBtn.classList.remove("active")
				}
			})

			calendarNextBtn.addEventListener("click", e => {
				// go next month
				// calculate month index
				var year, month
				if (this.calendarMonth >= 11) {
					// jump to next year
					year = this.calendarYear +1
					month = 0
				} else {
					year = this.calendarYear
					month = this.calendarMonth +1
				}

				// redraw calendar
				this.redrawCalendarDateBooking(year, month)

				// show prevbtn
				calendarPrevBtn.classList.add("active")
			})

			// write timeslots
			let iterIdx = 0;
			for (let i = 0; i < this.availableTimeslots.length; i++) {
				var timeslotData = this.availableTimeslots[i]

				// create header
				const header = document.createElement("h3")
				header.innerHTML = timeslotData[0]
				timeBookingContainer.appendChild(header)

				// create container
				var container = document.createElement("div")
				container.className = "details-pform-timeslots-container"
				timeBookingContainer.appendChild(container)

				// time slot cards (start from index 1 since index 0 is the service header name)
				for (j = 1; j < this.availableTimeslots[i].length; j++) {
					// compute global index
					let timeslotGlobalIdx = iterIdx++

					// create card (p tag)
					let timeslotCard = document.createElement("p")
					timeslotCard.setAttribute("tabindex", "0")
					timeslotCard.innerHTML = this.availableTimeslots[i][j]
					container.appendChild(timeslotCard)

					// register click events and enter key events
					timeslotCard.addEventListener("click", e => {
						// remove active styling for previous selection if any
						if (this.time.length > 0 && this.selectedTimeEle != null) {
							this.selectedTimeEle.classList.remove("active")
							this.selectedTimeEle = null; // remove reference, even though will be set later down (error might occur with .chooseTime method)
						}

						// set time
						this.chooseTime(timeslotGlobalIdx)

						// set new target (and add styling)
						this.selectedTimeEle = timeslotCard
						timeslotCard.classList.add("active")
					})
					timeslotCard.addEventListener("keydown", e => {
						if (e.keyCode === 32 || e.keyCode == 13) {
							// space and enter key (for compatibility)
							timeslotCard.click()
						}
					})
				}
			}

			// update date & time display
			this.updateDateTimeDetails();

			// update guest title upon keying in name
			var initialGuestForm = this.guestListContainerFormEle.getElementsByClassName("guest-particulars-form")[0]
			var initialGuestNameDisp = initialGuestForm.getElementsByClassName("guest-particulars-name-disp")[0]
			var initialGuestFormInputs = initialGuestForm.getElementsByTagName("input")
			var firstnameInput = initialGuestFormInputs[0]
			var lastnameInput = initialGuestFormInputs[1]

			var initialGuestFirstName = "";
			var initialGuestLastName = "";
			firstnameInput.addEventListener("input", e => {
				initialGuestFirstName = firstnameInput.value

				// generate content
				var content = "&nbsp;"
				if (initialGuestFirstName.length > 0) {
					content = initialGuestFirstName.charAt(0).toUpperCase() +initialGuestFirstName.slice(1)

					if (initialGuestLastName.length > 0) {
						content += ` ${initialGuestLastName.charAt(0).toUpperCase() +initialGuestLastName.slice(1)}`
					}
				} else if (initialGuestLastName.length > 0) {
					content = initialGuestLastName.charAt(0).toUpperCase() +initialGuestLastName.slice(1)
				}

				// write content
				initialGuestNameDisp.innerHTML = content
			})
			lastnameInput.addEventListener("input", e => {
				initialGuestLastName = lastnameInput.value

				// generate content
				var content = "&nbsp;"
				if (initialGuestFirstName.length > 0) {
					content = initialGuestFirstName.charAt(0).toUpperCase() +initialGuestFirstName.slice(1)

					if (initialGuestLastName.length > 0) {
						content += ` ${initialGuestLastName.charAt(0).toUpperCase() +initialGuestLastName.slice(1)}`
					}
				} else if (initialGuestLastName.length > 0) {
					content = initialGuestLastName.charAt(0).toUpperCase() +initialGuestLastName.slice(1)
				}

				// write content
				initialGuestNameDisp.innerHTML = content
			})

			// incremental tickers for pax count
			var paxCountInp = initialGuestForm.getElementsByClassName("guest-count-input-container")[0].getElementsByTagName("input")[0];
			var paxCountDecrBtn = document.getElementById("guest-count-decremental-btn")
			var paxCountIncrBtn = document.getElementById("guest-count-incremental-btn")

			// update this.paxCount upon input change
			paxCountInp.addEventListener("input", e => {
				var pc = 1; // fall back value
				if (paxCountInp.value.length > 0) {
					pc = parseInt(paxCountInp.value)
				}

				if (pc > 100) {
					// over limit
					this.paxCount = 100; // limit
					paxCountIncrBtn.click(); // simulate incremental click to trigger error handling
				} else {
					this.paxCount = pc
				}
			})

			paxCountDecrBtn.addEventListener("click", e => {
				e.preventDefault(); // prevent default action of the buttons

				console.log("paxCount"< this.paxCount)
				if (this.paxCount <= 1) {
					return; // cannot decrement anymore
				} else {
					paxCountInp.value = --this.paxCount; // prefix decrement
				}
			})

			paxCountIncrBtn.addEventListener("click", e => {
				e.preventDefault(); // prevent default action of the buttons

				if (this.paxCount >= 100) {
					utils.popup(false, "Pax count has exceeded the limit, please contact our custom relations for further assistance")

					// force back value
					paxCountInp.value = 100;

					// return, cannot increment anymore
					return;
				} else {
					paxCountInp.value = ++this.paxCount; // prefix increment
				}
			})

			// card no input, auto insert space
			var cardnoInput = document.getElementById("payment-card-no-input")
			cardnoInput.addEventListener("input", e => {
				if (cardnoInput.value.length === 0) {
					return;
				}

				cardnoInput.value = cardnoInput.value.replaceAll(" ", "").match(/.{1,4}/g).join(" ")
			})

			// card exp input, auto pad zero
			var cardexpmnthInput = document.getElementById("payment-card-expmnth-input")
			var cardexpyrInput = document.getElementById("payment-card-expyr-input")
			var singlePad = (e, len) => {
				if (e.currentTarget.value.length >= len) {
					if (e.currentTarget.value[0] == "0") {
						// remove '0' padding
						e.currentTarget.value = e.currentTarget.value.slice(1, len +1)
						return
					} else {
						// prevent entry
						e.currentTarget.value = e.currentTarget.value.slice(0, len)
					}
				}
				e.currentTarget.value = e.currentTarget.value.padStart(len, "0")
			}
			cardexpmnthInput.addEventListener("input", e => singlePad(e, 2))
			cardexpyrInput.addEventListener("input", e => singlePad(e, 4))

			// card process payment
			var cardnameInput = document.getElementById("payment-card-name-input")
			var cardcvvInput = document.getElementById("payment-card-cvv-input")
			var procPaymentBtn = document.getElementById("payment-pform-addcard")

			var paymentProcessed = false
			procPaymentBtn.addEventListener("click", e => {
				// validate input
				/*
				 * name must be at least 3 chars long, not longer than 255 chars
				 * card no has exactly 13-16 digits, not including the inserted spaces
				 * card exp (both mnth and year) must be exactly 2 chars
				 * card exp (mnth) must be between 01-12 inclusive, must be greater than current month if year is equal
				 * card exp (year) must be greater or equal to current year
				 * card cvv must be exactly 3 chars
				 */
				e.preventDefault();

				// do not allow clicks when it has already been processed
				if (paymentProcessed) {
					return
				}

				var cardname = cardnameInput.value
				var cardno = cardnoInput.value.replaceAll(" ", "")
				var cardexpmnth = parseInt(cardexpmnthInput.value)
				var cardexpyr = parseInt(cardexpyrInput.value)
				var cardcvv = cardcvvInput.value
				console.log("SAME YEAR?", cardexpyr, parseInt(new Date().getFullYear().toString().slice(2)))
				if (cardname.length < 3 || cardname.length > 255
					|| cardno.length < 13 || cardno.length > 16
					|| isNaN(parseInt(cardno))
					|| cardexpmnthInput.value.length > 2
					|| cardexpyrInput.value.length > 4
					|| isNaN(cardexpmnth) || isNaN(cardexpyr)
					|| cardexpmnth <= 0 || cardexpmnth > 12
					|| (cardexpyr == new Date().getFullYear() && cardexpmnth <= (new Date().getMonth() +1))
					|| cardexpyr < new Date().getFullYear()
					|| cardcvv.length !== 3
					) {
					// invalid card details
					console.log("INVALID CARD DETAILS")
					utils.popup(false, "Invalid card details")
					return false
				}

				// parse form into formdata

				// move on with next page
				console.log(pages.highestPage)
				if (pages.highestPage === 2) {
					pages.nextPage()
				}

				// success return
				console.log("VALID CARD DETAILS")

				// set disabled style for payment button
				procPaymentBtn.innerHTML = "Payment has been processed"
				procPaymentBtn.classList.add("disabled")
				procPaymentBtn.setAttribute("disabled", "")

				// move on to confirmation
				this.generateConfirmationReceipt();
				pages.nextPage();

				// set debounce value
				paymentProcessed = true

				// notify user
				utils.popup(true, "Payment processed!")


				return true
			})

			// register pages next button
			pages.pageElements.details.nextPageBtn.addEventListener("click", e => {
				// verify date and time filled in
				if (this.date.length > 0 && this.time.length > 0) {
					// move on with next page
					if (pages.highestPage === 0) {
						pages.nextPage()
					} else {
						// switch to next page
						pages.switchPage(1)
					}
				}
			})

			// register guests next page
			pages.pageElements.guests.nextPageBtn.addEventListener("click", e => {
				// verify contact email is valid
				var success = this.validateContactEmail(); // will set this.contactEmailAddr too
				if (!success) {
					utils.popup(false, "Invalid contact email address")
					return
				}

				// verify main guest details are all populated
				var [valid, guestDetails] = this.fetchGuestDetails()
				if (valid) {
					this.firstName = guestDetails.firstName;
					this.lastName = guestDetails.lastName;
					this.dietaryRequirements = guestDetails.specialReq

					// repopulate DOM with correct fields
					this.repopulateDetails();

					// move to next page
					if (pages.highestPage === 1) {
						pages.nextPage()
					} else {
						// switch to next page
						pages.switchPage(2)
					}
				}
			})
		}

		const emailNameMatch = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+$/
		const emailDomainMatch = /^[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
		receiptionist.validateContactEmail = function() {
			// returns boolean whether contact email is right
			var emailAddrInput = this.contactFormContainer.getElementsByTagName("input")[0]

			var email = emailAddrInput.value

			// validating email (both name and domain)
			var email_split = email.split("@")
			if (email_split.length != 2) {
				// not formatted right
				return false
			}

			// validate name
			if (!emailNameMatch.test(email_split[0])) {
				// no match, invalid name
				return false
			}

			// validate domain
			if (!emailDomainMatch.test(email_split[1])) {
				// no match, invalid domain
				return false
			}

			// all valid, set email
			this.contactEmailAddr = email

			// return true
			return true
		}

		receiptionist.fetchGuestDetails = function() {
			// returns guest's details keyed into form

			// populate data structure later
			var guestDetails = {
				firstName: "",
				lastName: "",
				specialReq: ""
			}

			var guestFormEle = this.guestListContainerFormEle.getElementsByClassName("guest-particulars-form")[0]
			var guestInputs = guestFormEle.getElementsByTagName("input")

			var firstname = guestInputs[0].value // must be present > 0 chars
			var lastname = guestInputs[1].value // must be present > 0 chars
			var specialreq = guestInputs[2].value // optional field

			// validate guest
			if (firstname.length === 0) {
				utils.popup(false, "First name detail is required");
				return [false]
			} else if (lastname.length === 0) {
				utils.popup(false, "Last name detail is required")
				return [false]
			}

			// populate details
			guestDetails.firstName = firstname
			guestDetails.lastName = lastname
			guestDetails.specialReq = specialreq

			return [true, guestDetails]
		}

		receiptionist.generateConfirmationReceipt = function() {
			// populates the confirmation page with booking details upon successful payment
			// doesnt show the next page
			if (this.date.length === 0 || this.time.length === 0 || this.service.length === 0) {
				// details not failed up
				console.warn("[WARN]: details not filled up,", this.date, this.time, this.service)
				utils.popup(false, "ERROR: missing details")
				return false
			}

			// update email address into confirmation screen
			document.getElementById("confirmation-final-msg").innerHTML = `Reservation successful! Credit hold of <span class="moneyref">$50</span> has been placed. A confirmation email will be sent out to <span class="emailref">${this.contactEmailAddr}</span> shortly!`

			// populate details
			// this.repopulateDetails();
		}

		pages.navbarArrowsHighlight = function() {
			// highlights arrow up till this.currentPage
			for (let i = 0; i < this.currentPage; i++) {
				this.pageElements[this.dir[i]].tabNextArrow.classList.add("active")
			}

			// un-highlight remaining arrows
			// last tab-container has no arrows
			for (let i = this.currentPage; i < this.dir.length -1; i++) {
				this.pageElements[this.dir[i]].tabNextArrow.classList.remove("active")
			}
		}

		pages.switchPage = function(pageId, forced) {
			// returns boolean (whether operation was successful or not)
			// function should only be used to traverse through completed pages
			// to progress page, use nextPage method
			// forced: boolean, to force refresh page (switching to own page causes re-render of details)

			// already on the page
			if (pageId == this.currentPage && !forced) {
				return false
			}

			// determine if page we want to switch to has been 'completed' (unlocked)
			if (pageId > this.highestPage) {
				return false
			}

			// hide current page
			this.pageElements[this.dir[this.currentPage]].tabContainer.classList.remove("active")
			this.pageElements[this.dir[this.currentPage]].pageContainer.classList.remove("active")

			// set current page
			this.currentPage = pageId
			this.pageElements[this.dir[pageId]].tabContainer.classList.add("active")
			this.pageElements[this.dir[pageId]].pageContainer.classList.add("active")

			// highlight navigation bar arrows
			this.navbarArrowsHighlight()

			// return value
			return true
		}

		pages.register = function() {
			// initialisation function

			// attach click events for all the tabs trigger
			for (const [pageName, links] of Object.entries(this.pageElements)) {
				let pageId = this.dir.indexOf(pageName)
				if (pageId === -1) {
					// not found
					console.warn("[WARN]: .register() unable to register page", pageName, "due to mismatch pageName with directory")
					continue
				}

				links.tabButton.addEventListener("click", e => {
					this.switchPage(pageId)
				})
			}
		}

		pages.nextPage = function() {
			// unlocks the next page upon verification
			// returns true if unlock was successful, else false
			if (this.currentPage === this.dir.length -1) {
				// already at the end
				return false
			}

			// add styles (remove disabled attribute so can be tab navigated)
			this.pageElements[this.dir[this.currentPage +1]].tabContainer.classList.add("unlocked")
			this.pageElements[this.dir[this.currentPage +1]].tabButton.removeAttribute("disabled")

			// set highest page
			this.highestPage = this.currentPage +1

			// switch page
			var success = this.switchPage(this.currentPage +1, true)
		}


		// caller
		receiptionist.register()
		pages.register()
		// pages.nextPage()
	</script>
</html>